html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-family: 'Helvetica', 'Open Sans', sans-serif;
}

a, a:visited { /* порядок правил для ссылок имеет значение */
    color: black;
    text-decoration: underline;
    transition: 200ms;
    transition-timing-function: ease-in-out;
    -webkit-transition: 200ms;
    -webkit-transition-timing-function: ease-in-out;
}

a:hover {
  color: rgb(160, 160, 160);
  text-decoration:none;
}

a:focus, a:active {
  color: #000000;
  text-decoration: underline;

}

.header a {
    color: black;
    text-decoration: none;
    transition: 200ms;
    transition-timing-function: ease-in-out;
    -webkit-transition: 200ms;
    -webkit-transition-timing-function: ease-in-out;
}

.header a:hover {
    color: rgb(160, 160, 160);
}

.header {
    position: fixed;  
    top: 0;  
    z-index: 100;
    width: 100%;
    height: 83px;
    background: #FFFFFF;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.08);
}

.nav {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80vw;
    max-width: 1546px;
    height: 33px;
    margin: auto;
    top: 50%;
    transform: translateY(-50%);
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 33px;

}

.daniel {
    width: 50%;
}

.contact {
    width: 40%;
    max-width: 148px;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 128px;
    margin-top: 176px;
    font-family: Helvetica, 'Open Sans', sans-serif;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 128px;
    margin: auto;
    width: 51.8vw;
    min-width: 319px;
    max-width: 996px;
}

.section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 48px;
    min-width: 319px;
    margin: auto;
}

.info-block {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;
    min-width: 319px;
}

.title-block {
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    padding: 0px;
    min-width: 319px;
}

.title-block-regular {
    font-weight: 400;
    font-size: 24px;
    line-height: 33px;
    min-width: 319px;
    text-align: center;
    margin: auto;
}

.describe-block {
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    width: 50vw;
    min-width: 319px;
    margin: auto;

}

.list-block {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;
}

ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;
    margin-left: 24px;
}

.two-image {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 6.6vw;
    /* background: #F5F5F5; */
    border-radius: 1.25vw;
    width: 51.8vw;
    min-width: 319px;
    margin: auto;
}

.mobile-screen {
    width: 18.75vw;
    margin: auto;
    background: none;
    filter: drop-shadow(0px 2px 5px rgba(0, 0, 0, 0.25));
    min-width: 319px;

}

.describe-image {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 24px;
    margin: auto;
}

.backround-image {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    gap: 10px;
    width: 51.8vw;  
    /* background: #F5F5F5; */
    border-radius: 1.25vw;
    min-width: 319px;
}

.header-VK-screen {
    width: 28.64vw;
    min-width: 319px;
    filter: drop-shadow(0px 2px 5px rgba(0, 0, 0, 0.25));
}

.recommends-card {
    width: 27.86vw;
    min-width: 250px;
    filter: drop-shadow(0px 2px 5px rgba(0, 0, 0, 0.25));
}

.animation {
    max-width: 408px;
    min-width: 319px;
    width:21.25vw;
    margin: auto;
    padding: 0;
}

.footer {
    width: 100%;
    height: 60px;
    bottom: 0px;
    order: 1;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    /* border-top: 1px solid #e9ecef; */ 
}

.copyright {
    position:relative;
    width: 80vw;
    max-width: 1546px;
    margin:  0 auto;
    height: 22px;
    top: 50%;

}

@media (max-width: 1280px) {

    .interface {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 6.6vw;

    }

    .part-of-screen {
        width: 45vw;
        min-width: 319px;
    }
    

}

@media (max-width: 1100px) {

    .two-image {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 6.6vw;
        background: none;

 
    }

    .backround-image, .animation {
        background: none;
    }

}

@media (max-width: 760px) {

    .nav {
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 21.79px;
        gap: 118px;
    }

    .daniel {
        width: 130%;
    }

    .copyright {
        font-style: normal;
        font-weight: 400;
        font-size: 13px;
        line-height: 18px;
    }
}
