html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-family: 'Helvetica', 'Open sans', sans-serif;
}

a, a:visited { /* порядок правил для ссылок имеет значение */
    color: black;
    text-decoration: underline;
    transition: 200ms;
    transition-timing-function: ease-in-out;
    -webkit-transition: 200ms;
    -webkit-transition-timing-function: ease-in-out;
}

a:hover {
  color: rgb(160, 160, 160);
  text-decoration:none;
}

a:focus, a:active {
  color: #000000;
  text-decoration: underline;

}

.header a {
    color: black;
    text-decoration: none;
    transition: 200ms;
    transition-timing-function: ease-in-out;
    -webkit-transition: 200ms;
    -webkit-transition-timing-function: ease-in-out;
}

.header a:hover {
    color: rgb(160, 160, 160);
}


body {
    background: #FFFFFF;
    
}

h2 {

    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
}

.name-title {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    max-width: 850px;
    min-width: 319px;
    width: 60vw;

}

.header {
    position: fixed;  
    top: 0;  
    z-index: 100;
    width: 100%;
    height: 83px;
    background: #FFFFFF;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.08);
}

.nav {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80vw;
    max-width: 1546px;
    height: 33px;
    margin: auto;
    top: 50%;
    transform: translateY(-50%);
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 33px;

}

.daniel {
    width: 50%;
}

.contact {
    width: 40%;
    max-width: 148px;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 241px;
    margin-top: 207px;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 176px;
    margin: auto;
    max-width: 850px;
    min-width: 319px;
    width: 60vw;
}

.section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 72px;
    margin: auto;
}

.concept {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
}

.name {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    margin: auto;
}

.describe {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    
}

.left-about {
    padding-left: 24px;
}



.video-players {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    gap: 128px;
}

.horizontal-player-caption {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    max-width: 840px;
    width: 59vw;
    margin: auto;
    min-width: 319px;
}


/* settings for image */

.flow {
    max-width: 100%;
    width: 60vw;
    min-width: 319px;
}

.two-images {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 66px;
    margin: auto;

}

.mobile-screen {
    max-width: 390px;
    width: 20.3vw;
    min-width: 319px;
}

.horizontal-player {
    max-width: 840px;
    width: 59vw;
    margin: auto;
    min-width: 319px;
}

.caption-center {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    min-width: 319px;
    margin: auto;
    padding:0;
    text-align: center;
}

.caption-left {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    min-width: 319px;
    margin: auto;
    padding:0;
    text-align: left;
}

/* small screens and other elemts of interface */

.img-choosing-friend, .vertical-caption-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    gap: 16px;
    min-width: 319px;
}


.choosing-panel {
    margin: auto;
    max-width: 100%;
    min-width: 200px;
    width: 30vw;
    min-width: 319px;
}

.panel-cards {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 48px;
    margin: auto;
    max-width: 840px;
    width:60vw;
    min-width: 319px;
}

.cards-row {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 64px;
    max-width: 840px;
    width:60vw;
    min-width: 319px;
}

.panel-card {
    display: flex;
    flex-direction: column;
    align-items: left;
    gap: 8px;
    margin: auto;
    font-size: 13px;
    max-width: 360px;
    max-height: 188px;
    min-width: 319px;

}

.card, .card-caption {
    max-width: 361px;
    width: 20vw;
    min-width: 319px;

}

.about-voice-status {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 7vh;
    max-width: 390px;
    width: 20vw;
    margin: auto;
    min-width: 319px;
}

.voice-status-card {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    padding: 0;
    gap: 24px;
    min-width: 160px;
}

.voice-status {
    width: 5vw;
}

/* gif animations */

.animation {
    max-width: 469px;
    width:24.427vw;
    margin: auto;
    border-radius: 16px;
    min-width: 319px;
}

.animation-horizontal {

    max-width: 906px;
    width: 47.1875vw;
    margin: auto;
    padding: 0;
    border-radius: 16px;
    min-width: 319px;
}

/* captions for images */

.list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 9vw;
    margin:auto;
}

.img-choosing-friend-caption {
    max-width: 100%;
    width: 30vw;
    min-width: 319px;
}

.default-movie-page-caption {
    margin: auto;
    max-width: 390px;
    width:20vw;
}

.footer {
    width: 100%;
    height: 60px;
    bottom: 0px;
    order: 1;
    /* border-top: 1px solid #e9ecef; */ 
}

.copyright {
    position:relative;
    width: 80vw;
    max-width: 1546px;
    margin:  0 auto;
    height: 22px;
    top: 50%;

}

@media (max-width: 1200px) {

    .choosing-panel {
        margin: auto;
        max-width: 100%;
        width: 59vw;
    }

    .img-choosing-friend {
        margin: auto;
    }

    .img-choosing-friend-caption {
        width: 60vw;
        min-width: 320px;
        margin: auto;
    }

    .panel-cards {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 56px;
        margin: auto;
        max-width: 500px;
        width:40vw;
    }

    .panel-card {
        gap: 16px;
        max-height: 100%;
        max-width: 500px;
        width:40vw;
        font-size: 16px;
        
    }
    
    .cards-row {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 56px;
        max-width: 500px;
        width:40vw;
    }

    .card, .card-caption {
        max-width: 500px;
        width: 40vw;
    
    }

    .two-images-describes {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 56px;
        margin: auto;
    
    }

    .mobile-screen {
        margin: auto;
    }

    .about-voice-status {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding:0;
        margin: auto;
        gap: 48px;
    }

    .voice-status-card {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 16px;
        margin: auto;
    }
    
    .voice-status {
        max-width: 200px;
        width: 40vw;
        margin: auto;
    }

    .vertical-status-describe {
        gap: 48px;

    }



}

@media (max-width: 1000px) {

    .two-images {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 56px;
        margin: auto;
    
    }

    .mobile-screen {
        max-width: 390px;
        width: 100%;
    }


    .img-choosing-friend {
        margin: auto;
    }

    .img-choosing-friend-caption {
        width: 60vw;
        min-width: 320px;
        margin: auto;
    }

    .default-movie-page-caption {
        margin: auto;
        max-width: 390px;
        width:60vw;
        min-width: 320px;
    }
    
}

@media (max-width: 760px) {

    .nav {
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 21.79px;
        gap: 118px;
    }

    .daniel {
        width: 200%;
    }

    .copyright {
        font-style: normal;
        font-weight: 400;
        font-size: 13px;
        line-height: 18px;
    }
}
